@using System.Collections.Concurrent;
@using CaPPMS.Data
@using CaPPMS.Model

@using System.Collections.Generic;
@using System.IO;
@using System.Security.Principal;
@using System.Threading.Tasks;

@using Newtonsoft.Json;
@using Octokit;
@using iTextSharp.text;
@using iTextSharp.text.pdf;
@using System;

@inject FaqManagerService faqManager


@page "/faq"

<h3>FAQ</h3>

@foreach (var faq in faqManager.GetFaqs)
{
    <div>
        <h5>FAQ</h5>
        <dl id="@faq.Guid">
            <dt>Topic</dt>
            <dd>@faq.Topic</dd>
            <dt>Question</dt>
            <dd>@faq.Question</dd>
            <dt>Author</dt>
            <dd>@faq.Author</dd>
            <dt>Reply</dt>
            <dd>@faq.Reply</dd>
        </dl>

    </div>
}
@foreach (var faq in faqManager.GetFaqs)
{
    <form action="@faqManager.Add(faq)">
        <fieldset>
            <legend>@faq.Guid:</legend>
            <label for="Topic"> Topic:</label>
            <input type="@faq.Topic" id="@faq.Topic" name="Topic"><br><br>
            <label for="Question"> Question:</label>
            <input type="text" id="@faq.Question" name="Question"><br><br>
            <label for="Author">Author:</label>
            <input type="text" id="@faq.Author" name="Author"><br><br>
            <label for="Reply">Reply:</label>
            <input type="text" id="@faq.Reply" name="Reply"><br><br>

            <input type="button" value="Submit">
        </fieldset>
    </form>
}
    @foreach (var faq in faqManager.GetFaqs)
    {

        <tr id="Faq.key">
            <td>@faq.Topic</td>
            <td>@faq.Question</td>
            <td>@faq.Author</td>
            <td>@faq.Reply</td>
        </tr>
    }

    @*@foreach (var faq in faqManager.GetFaqs)
        {
            <div class="m-2 p-2 rounded">

                <EditForm OnValidSubmit="@HandleValidSubmit" Model="NewFaq">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="card" id="@faq.Guid" />
                    <span class="fas fa-comment" id="@faq.Topic"></span> Add Topic:

                    <span class="fas fa-comment" id="@faq.Question"></span> Add Question:

                    <span class="fas fa-comment" id="@faq.Author"></span> Add Author:
                    <span class="fas fa-comment" id="@faq.Reply"></span> Add Reply:
                    <InputTextArea @bind-Values="Faqs" /><br />
                    <InputTextArea @bind-Values="faq.Reply" /><br />
                    <button type="submit" class="btn btn-primary">Add Faq</button>
        </div>
            </div>*@
    @*</EditForm>*@




@code {

    





protected override void OnInitialized()
{
    base.OnInitialized();
        @*faqManager.Add(Faq.Equals(KeyValuePair<Guid,FaqInformation>);*@
        @*FaqInfo.TryAdd(faqInformation.Guid, faqInformation)*@
faqManager.Add(new FaqInformation { });
        @*faqManager.Add(new FaqInformation { Reply = " my reply", Author = "author", Question = " fake question", Topic = " fake topic" });*@
        @*faqManager.Add(new FaqInformation { Reply = " my reply1", Author = "author1", Question = " fake questio1n", Topic = " fake topic1" });
            faqManager.Add(new FaqInformation { Reply = " my reply2", Author = "author2", Question = " fake question2", Topic = " fake topic2" });*@


    }
}
