@page "/previousprojects"

<h2>Previous Projects</h2>

<p>
    The documents and products created by students from each semester can be found here.
</p>
<hr />

@inject ProjectManagerService ProjectManager
@foreach (ProjectInformation idea in sortedProjects)
{
    <h3>@idea.SemesterTerm @idea.SemesterYear </h3>
    <b>@idea.ProjectTitle </b>
    <p> @idea.ProjectDescription </p>
    <b>GitHub Link: </b>
    <a href="@idea.Github">GitHub</a>
    <br />
    <br />
    <p> This project consisted of @idea.CompletedDocuments.Count team(s).</p>

    <b> Teams:</b>
    @for (int i = 0; i < idea.CompletedDocuments.Count; i++)
    {
        <li>@idea.CompletedDocuments[i].TeamName</li>
    }
    <br />
    <p>Each teams documents are listed below:</p>
    @for (int i = 0; i < idea.CompletedDocuments.Count; i++)
    {
        <b> Documents for Team @idea.CompletedDocuments[i].TeamName: </b>
        <ul>
            <li> <a href="/download/@idea.CompletedDocuments[i].ProjectPlanLink" download="@idea.CompletedDocuments[i].ProjectPlan" target="_top">Project Plan</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i].SRSLink" download="@idea.CompletedDocuments[i].SRS" target="_top">Software Requirements Specification (SRS)</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i].TDDLink" download="@idea.CompletedDocuments[i].TDD" target="_top">Technical Design Document (TDD)</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i].RunbookLink" download="@idea.CompletedDocuments[i].Runbook" target="_top">Deployment and Operations Guide (Runbook)</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i].ProgrammersGuideLink" download="@idea.CompletedDocuments[i].ProgrammersGuide" target="_top">Programmer Guide</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i].UsersGuideLink" download="@idea.CompletedDocuments[i].UsersGuide" target="_top">User Guide</a> </li>
            <li> <a href="/download/@idea.CompletedDocuments[i]ea.TestReportLink" download="@idea.CompletedDocuments[i].TestReport" target="_top">Test Report</a> </li>
        </ul>
        <b> Video Link: </b>
        <br />
        <a href="@idea.CompletedDocuments[i].VideoLink" >Video Link</a>
       
    }
    <hr />
}
<br />
<br />
<br />


@code {
    IEnumerable<ProjectInformation> sortedProjects;
    protected override void OnInitialized()
    {
        SetCompletedProjectsList();
        ProjectManagerService.ProjectIdeasChanged += (o, e) =>
        {
            SetCompletedProjectsList();
        };
        base.OnInitialized();
    }
    private List<string> TeamNames;
    private void SetCompletedProjectsList()
    {
        List<ProjectInformation> completedProjects = new List<ProjectInformation>();
        foreach (ProjectInformation projectInformation in ProjectManager.ProjectIdeas.Values)
        {
            if (projectInformation.Status.Equals("Complete"))
            {
                completedProjects.Add(projectInformation);
            }
        }
        sortedProjects = completedProjects
            .OrderByDescending(o => o.SemesterYear)
            .ThenBy(o => o.SemesterTerm == "Spring")
            .ThenBy(o => o.SemesterTerm == "Summer")
            .ThenBy(o => o.SemesterTerm == "Fall");
    }
}
